@tailwind base;
@tailwind components;
@tailwind utilities;

.mardown p {
  margin-bottom: 15px;
}
a {
  user-select: text !important;
}

table,
th,
td {
  border: 1px solid;
  padding: 10px;
}
table {
  border-collapse: collapse;
  margin-bottom: 20px;
  max-width: 100%;
}
